<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustavo Notícias</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&display=swap" rel="stylesheet">
</head>

<body>
    <!-- first header-->
    <div class="col-default">
        <div class="first-header">
            <div class="content">
                <div class="header-imgs">
                    <img src="img/facebook.png">
                    <img src="img/instagram.png">
                    <img src="img/whatsapp.png">
                </div>
                <div class="phone-number">
                    <p>(13) 3481-3095 / (13) 98151-7557</p>
                </div>
            </div>
        </div>
    </div>


    <!-- nav -->
    <div class="col-default">
        <div class="nav-bar">
            <ul>
                <li>
                    <a href="http://localhost/gustavo-noticias/Views/add-news.html">Nova</a>
                </li>
                <li>
                    <a href="http://localhost/gustavo-noticias/Views/index.html">Home</a>
                </li>
                <li>
                    <a href="#">Pesquisar</a>
                </li>
            </ul>

        </div>
    </div>
    <!-- img background-->
    <div class="col-default">
        <div class="img-background">
            <img src="img/banner.png">
        </div>
        <div style="display: none;" class="img-background-mobile">
            <img src="img/banner-mobile.png">
        </div>
    </div>

    <!-- options-->
    <div class="col-default">
        <div class="show">
            <div class="title">
                <img src="img/title.png">
            </div>

            <ul>
                <li>
                    <a href="http://localhost/gustavo-noticias/Views/add-news.html">
                        <img src="img/add.png">
                        <h3> Cadastre uma notícia</h3>
                    </a>
                    <p> Faça o cadastro na base de dados de sua notícia.</p>
                </li>
                <li>
                    <a href="#">
                        <img src="img/search.png">
                        <h3> Pesquisa uma notícia</h3>
                    </a>
                    <p> Realize a pesquisa de uma notícia em nossa base de dados.</p>
                </li>
                <li>
                    <a href="#">
                        <img src="img/trash.png">
                        <h3> Delete uma notícia</h3>
                    </a>
                    <p> Efetue o procedimento para apagar uma notícia de sua base de dados.</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- footer-->
    <div class="col-default">
        <div class="footer">
            <h3>
                Gustavo Oliveira Pontes - Copyright 2020
            </h3>
            <p>Sistema desenvolvido para avaliação e sem fins lucrativos.</p>
        </div>
    </div>
</body>

</html>