<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustavo Notícias</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&display=swap" rel="stylesheet">
</head>

<body>
    <!-- first header-->
    <div class="col-default">
        <div class="first-header">
            <div class="content">
                <div class="header-imgs">
                    <img src="img/facebook.png">
                    <img src="img/instagram.png">
                    <img src="img/whatsapp.png">
                </div>
                <div class="phone-number">
                    <p>(13) 3481-3095 / (13) 98151-7557</p>
                </div>
            </div>
        </div>
    </div>


    <!-- nav -->
    <div class="col-default">
        <div class="nav-bar">
            <ul>
                <li>
                    <a href="http://localhost/gustavo-noticias/Views/add-news.html">Nova</a>
                </li>
                <li>
                    <a href="http://localhost/gustavo-noticias/Views/index.html">Home</a>
                </li>
                <li>
                    <a href="http://localhost/gustavo-noticias/Views/search.html">Pesquisar</a>
                </li>
            </ul>

        </div>
    </div>

    <div style="border-top: solid 1px;" class="col-default">
        <div style="margin-bottom: 10rem;" id="new-form" class="new-form">
            <h1> Pesquisar Notícia</h1>
            <form action="#" method="POST">
                <input id="title" maxlength="45" name="title" placeholder="Título" type="text"><br>
                <button type="button" onClick="find()"> Pesquisar</button>
            </form>
        </div>
    </div>

    <div class="col-default">
        <div id="news-post" class="news-post">
            <h3 class="title2" id="title-finded">

            </h3>
            <p id="description">

            </p>
            <img id="photo" style="width : 600px; height : 400px;" src="../Views/img/banner-mobile.png">

            <p style="margin-top: 2rem;" id="content">

            </p>

            <a onClick="deletes()" style="padding: 1rem;">Excluir</a>
            <a onClick="refresh()" style="padding: 1rem;">Voltar</a>
            <input type="hidden" id="id">
            <a style="padding: 1rem;">Editar</a>
        </div>
    </div>

    <!-- footer-->
    <div class="col-default">
        <div style="margin-top: 2rem;" class="footer">
            <h3>
                Gustavo Oliveira Pontes - Copyright 2020
            </h3>
            <p>Sistema desenvolvido para avaliação e sem fins lucrativos.</p>
        </div>
    </div>
    <script charset="UTF-8" src="js/main.js" type="text/javascript">
    </script>
</body>

</html>